.list-product{
    margin: 1%;
    margin-top: 0;
    padding: 1%;
    padding-bottom: 5%;
}

th{
    background-color: #FFC107;
    color: darkslateblue;
}

td{
    color: darkslateblue;
}

tr:hover{
    background-color: #FFC107;
    cursor: pointer;
}